.custom-label input:-webkit-autofill ~ label,
.custom-label input.p-filled ~ label,
.custom-label input:focus ~ label,
.custom-label textarea:focus ~ label,
.custom-label textarea.p-filled ~ label,
.custom-label .p-inputwrapper-focus ~ label,
.custom-label .p-inputwrapper-filled ~ label {
    color: white !important;
}

.custom-btn {
    background: #000 !important;
    border: 1px solid #000 !important;
}

.custom-btn:hover {
    background: #222 !important;
    border: 1px solid #222 !important;
}

.p-rating .p-rating-icon.pi-star-fill {
    color: gold !important;
}
